{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'movies/css/everything.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'movies/images/netflix.png' %}"
      type="image/x-icon"
    />
    <title>Netflix</title>
  </head>
  <body>
    <main>
      <section
        id="hero"
        style="background-image: linear-gradient(to bottom right, rgba(0,0,0,0.9), rgba(0,0,0,0.6)), url('{{trending.backdrop}}');"
      >
        <header>
          <div class="left">
            <div class="logo">
              <a href="{% url 'movies_home' %}">
                <img
                  src="{% static 'movies/images/netflix-logo.png' %}"
                  alt="netflix-logo"
                />
              </a>
            </div>
            <div class="nav">
              <ul>
                <li><a href="">Movies</a></li>
                <li><a href="">TV Shows</a></li>
                <li><a href="">My List</a></li>
              </ul>
            </div>
          </div>
          <div class="right">
            <div class="search">
              <form>
                <input type="text" placeholder="Search" name="search" />
                <button type="submit">
                  <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                    <path
                      fill="currentColor"
                      d="m20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8a7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.42ZM5 11a6 6 0 1 1 6 6a6 6 0 0 1-6-6Z"
                    />
                  </svg>
                </button>
              </form>
            </div>

            <div class="user">
              <div class="username">
                <p>
                  <span>Hi &nbsp;{{user.username}},</span>
                  <a href="{% url 'users_logout' %}">Logout</a>
                </p>
              </div>
              <div class="avatar">
                <img src="{{user.profile.image.url}}" alt="{{user.username}}" />
              </div>
            </div>
          </div>
        </header>
        <div class="hero-content">
          <h1>{{trending.name}}</h1>
          <h2>{{trending.overview}}</h2>
          <div class="buttons">
            <button class="trailer">Watch Trailer</button>
            <a href="">View Details</a>
          </div>
        </div>
        <div class="trending-modal">
          <p class="close">
            <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M12 22A9.99 9.99 0 0 1 2 12v-.2a10.005 10.005 0 0 1 17.074-6.874A10 10 0 0 1 12 22Zm0-8.59L14.59 16L16 14.59L13.41 12L16 9.41L14.59 8L12 10.59L9.41 8L8 9.41L10.59 12L8 14.59L9.41 16L12 13.411v-.001Z"
              />
            </svg>
          </p>
          <div id="player">
            {% if trailer %}
            <p class="video-key">{{trailer}}</p>
            {% endif %}
          </div>
        </div>
      </section>

      <!-- everything section -->
      <section id="everything">
        <div class="category">
          <hr />
          <h3>Trending &nbsp; Movies</h3>
        </div>
        <div class="films">
          {% if everything %}
          <!--  -->
          {% for item in everything %}
          <!--  -->
          {% if item.id != trending.id %}
          <div class="card">
            <a href="">
              <img src="{{item.poster}}" alt="{{item.name}}" />
              <h3>{{item.name}}</h3>
            </a>
          </div>
          {% endif %}
          <!--  -->
          {% endfor %}
          <!--  -->
          {% endif %}
        </div>
      </section>

      <!-- upcoming movies section -->
      <section id="upcoming">
        <div class="category">
          <hr />
          <h3>Upcoming &nbsp; Movies</h3>
        </div>
        <div class="films">
          {% if upcoming %}
          <!--  -->
          {% for item in upcoming %}
          <!--  -->
          {% if item.id != trending.id %}
          <div class="card">
            <a href="">
              <img src="{{item.poster}}" alt="{{item.name}}" />
              <h3>{{item.name}}</h3>
            </a>
          </div>
          {% endif %}
          <!--  -->
          {% endfor %}
          <!--  -->
          {% endif %}
        </div>
      </section>

      <!-- on-air shows section -->
      <section id="on-air">
        <div class="category">
          <hr />
          <h3>Shows &nbsp; On-Air</h3>
        </div>
        <div class="films">
          {% if on_air %}
          <!--  -->
          {% for item in on_air %}
          <!--  -->
          {% if item.id != trending.id %}
          <div class="card">
            <a href="">
              <img src="{{item.poster}}" alt="{{item.name}}" />
              <h3>{{item.name}}</h3>
            </a>
          </div>
          {% endif %}
          <!--  -->
          {% endfor %}
          <!--  -->
          {% endif %}
        </div>
      </section>

      <!-- popular shows section -->
      <section id="popular">
        <div class="category">
          <hr />
          <h3>Popular &nbsp; Shows</h3>
        </div>
        <div class="films">
          {% if popular %}
          <!--  -->
          {% for item in popular %}
          <!--  -->
          {% if item.id != trending.id %}
          <div class="card">
            <a href="">
              <img src="{{item.poster}}" alt="{{item.name}}" />
              <h3>{{item.name}}</h3>
            </a>
          </div>
          {% endif %}
          <!--  -->
          {% endfor %}
          <!--  -->
          {% endif %}
        </div>
      </section>

      <footer>
        <hr />
        <div class="main">
          <div>
            <img
              src="{% static 'movies/images/netflix-logo.png' %}"
              alt="netflix"
            />
            <p>ways to watch</p>
            <p>help center</p>
            <p>FAQs</p>
          </div>
          <div>
            <p>media center</p>
            <p>investors</p>
            <p>speed test</p>
            <p>jobs</p>
          </div>
          <div>
            <p>terms of service</p>
            <p>account</p>
            <p>corporate info</p>
            <p>only on netflix</p>
          </div>
          <div>
            <p>relations</p>
            <p>pivacy</p>
            <p>contact us</p>
            <p>originals</p>
          </div>
        </div>
       
      </footer>
    </main>
    <script src="{% static 'movies/js/movies.js' %}"></script>
  </body>
</html>
