{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'movies/css/index.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'movies/images/netflix.png' %}"
      type="image/x-icon"
    />
    <title>Home</title>
  </head>
  <body>
    <main>
      <div class="cta">
        <h1>Unlimited movies, TV shows, and more.</h1>
        <div class="sign-in-up">
          <a href="">sign in</a>
          <a href="">sign up</a>
        </div>
      </div>
    </main>
  </body>
</html>
