{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'movies/css/movie-base.css' %}" />
    {% block css %}{% endblock %}
    <link
      rel="shortcut icon"
      href="{% static 'movies/images/netflix.png' %}"
      type="image/x-icon"
    />
    {% block title %}{% endblock %}
  </head>
  <body>
    <main>
      <header>
        <div class="left">
          <div class="logo">
            <a href="">
              <img
                src="{% static 'movies/images/netflix-logo.png' %}"
                alt="netflix-logo"
              />
            </a>
          </div>
          <div class="nav">
            <ul>
              <li><a href="">Movies</a></li>
              <li><a href="">Series</a></li>
              <li><a href="">My List</a></li>
            </ul>
          </div>
        </div>
        <div class="right">
          <div class="search">
            <form>
              <input type="text" placeholder="Search" name="search" />
              <button type="submit">
                <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8a7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.42ZM5 11a6 6 0 1 1 6 6a6 6 0 0 1-6-6Z"
                  />
                </svg>
              </button>
            </form>
          </div>

          <div class="user">
            <div class="username">
              <p>
                <span>Username</span>
                <a href="">Logout</a>
              </p>
            </div>
            <div class="avatar">
              <img src="{% static 'movies/images/sam.jpeg' %}" alt="username" />
            </div>
          </div>
        </div>
      </header>
      {% block content %}{% endblock %}
      <footer></footer>
    </main>
  </body>
</html>
