@import "global";

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/netflix-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.7);

  #hero {
    padding: 3%;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    position: relative;
    header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .logo {
          width: 25%;
          img {
            width: 8vw;
          }
        }
        .nav {
          width: 75%;
          ul {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            list-style: none;
            li {
              margin: 0 4%;
              a {
                text-decoration: none;
                color: $text_color;
                font-size: 0.9vw;
                font-weight: 500;
                letter-spacing: 0.05vw;
                &:hover {
                  color: $primary;
                }
              }
            }
          }
        }
      }

      .right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .search {
          width: 35%;
          margin-top: -2%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          form {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            input {
              background-color: transparent;
              outline: none;
              border: none;
              border-bottom: solid 0.05vw $text_color;
              padding: 3% 2%;
              color: $text_color;
              font-size: 0.9vw;
            }
            button {
              background-color: transparent;
              outline: none;
              border: none;
              margin-right: 5%;
              margin-left: 5%;
              margin-top: 7%;
              svg {
                color: $text_color;
                width: 1.5vw;
                height: 1.5vw;
                cursor: pointer;
                &:hover {
                  color: $primary;
                }
              }
            }
          }
        }
        .user {
          width: 65%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .username {
            width: 80%;
            color: $text_color;
            margin-right: 3%;
            p {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              font-size: 0.9vw;
              text-transform: capitalize;
              span {
                margin-right: 2%;
              }
              a {
                text-decoration: none;
                color: $primary;
                font-weight: 600;
                &:hover {
                  color: $secondary;
                }
              }
            }
          }
          .avatar {
            width: 20%;
            img {
              width: 2.5vw;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .hero-content {
      padding: 8% 5%;
      color: $text_color;
      h1 {
        width: 70%;
        font-size: 3.8vw;
      }
      h2 {
        margin-top: 2%;
        width: 50%;
        font-weight: 500;
        font-size: 1.2vw;
        line-height: 2.5vw;
      }
      .buttons {
        margin-top: 2%;
        button,
        a {
          background-color: $primary;
          text-decoration: none;
          outline: none;
          border: none;
          font-size: 0.85vw;
          color: $text_color;
          padding: 1% 2%;
          margin-right: 2%;
          cursor: pointer;
          border-radius: 0.3vw;
          &:hover {
            background-color: $secondary;
          }
        }
      }
    }

    .trending-modal {
      width: 100%;
      height: 100%;
      padding: 10%;
      margin-top: -3%;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      display: none;
      .close {
        color: $primary;
        position: absolute;
        top: 5%;
        right: 10%;
        cursor: pointer;
        &:hover {
          color: $secondary;
        }
        svg {
          width: 2vw;
          border-radius: 50%;
          background-color: $text_color;
        }
      }
    }
  }

  // the trending seciton
  #everything,
  #upcoming {
    width: 100%;
    padding: 3% 7%;
    background-color: #000;
    .category {
      width: 100%;
      height: 5vw;
      margin-bottom: 1%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: $text_color;

      hr {
        width: 3vw;
        margin-right: 2%;
        outline: none;
        border: none;
        border-radius: 2vw;
        height: 0.15vw;
        background-color: $primary;
      }

      h3 {
        font-size: 1.3vw;
      }
    }

    .films {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      .card {
        width: 17%;
        margin: 2% 0;
        margin-right: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 0.5vw;
        object-fit: cover;
        a {
          text-decoration: none;
          color: $text_color;
          text-transform: capitalize;
          text-align: center;
          &:hover {
            color: $primary;
          }
          img {
            width: 100%;
            object-fit: cover;
            border-radius: 0.5vw;
            transition: 0.3s ease-in-out;
            &:hover {
              margin-top: -3%;
              transition: 0.3s ease-in-out;
            }
          }
          h3 {
            margin-top: 5%;
            font-size: 0.85vw;
            line-height: 1vw;
            font-weight: 500;
          }
        }
      }
    }
  }
}
