@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/netflix-background.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/netflix-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.7);
}

main #hero {
  padding: 3%;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  position: relative;
}

main #hero header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #hero header .left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main #hero header .left .logo {
  width: 25%;
}

main #hero header .left .logo img {
  width: 8vw;
}

main #hero header .left .nav {
  width: 75%;
}

main #hero header .left .nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
}

main #hero header .left .nav ul li {
  margin: 0 4%;
}

main #hero header .left .nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9vw;
  font-weight: 500;
  letter-spacing: 0.05vw;
}

main #hero header .left .nav ul li a:hover {
  color: #e50914;
}

main #hero header .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #hero header .right .search {
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #hero header .right .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #hero header .right .search form input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: solid 0.05vw #fff;
  padding: 3% 2%;
  color: #fff;
  font-size: 0.9vw;
}

main #hero header .right .search form button {
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: 5%;
}

main #hero header .right .search form button svg {
  color: #fff;
  width: 1.5vw;
  height: 1.5vw;
  cursor: pointer;
}

main #hero header .right .search form button svg:hover {
  color: #e50914;
}

main #hero header .right .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #hero header .right .user .username {
  color: #fff;
  margin-right: 15%;
}

main #hero header .right .user .username p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.9vw;
}

main #hero header .right .user .username p span {
  margin-right: 15%;
}

main #hero header .right .user .username p a {
  text-decoration: none;
  color: #e50914;
  font-weight: 600;
}

main #hero header .right .user .username p a:hover {
  color: #e50914c7;
}

main #hero header .right .user .avatar img {
  width: 3vw;
  border-radius: 50%;
}

main #hero .hero-content {
  padding: 8% 5%;
  color: #fff;
}

main #hero .hero-content h1 {
  width: 70%;
  font-size: 3.8vw;
}

main #hero .hero-content h2 {
  margin-top: 2%;
  width: 50%;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 2.5vw;
}

main #hero .hero-content .buttons {
  margin-top: 2%;
}

main #hero .hero-content .buttons button,
main #hero .hero-content .buttons a {
  background-color: #e50914;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 0.85vw;
  color: #fff;
  padding: 1% 2%;
  margin-right: 2%;
  cursor: pointer;
  border-radius: 0.3vw;
}

main #hero .hero-content .buttons button:hover,
main #hero .hero-content .buttons a:hover {
  background-color: #e50914c7;
}

main #hero .trending-modal {
  width: 100%;
  height: 100%;
  padding: 10%;
  margin-top: -3%;
  background-color: rgba(0, 0, 0, 0.479);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

main #hero .trending-modal .close {
  color: #e50914;
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;
}

main #hero .trending-modal .close:hover {
  color: #e50914c7;
}

main #hero .trending-modal .close svg {
  width: 3vw;
}

main #everything {
  width: 100%;
  padding: 3% 7%;
  background-color: #000;
}

main #everything .category {
  width: 100%;
  height: 5vw;
  margin-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
}

main #everything .category hr {
  width: 3vw;
  margin-right: 2%;
  outline: none;
  border: none;
  border-radius: 2vw;
  height: 0.15vw;
  background-color: #e50914;
}

main #everything .category h3 {
  font-size: 1.3vw;
}

main #everything .films {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #everything .films .card {
  width: 17%;
  margin: 2% 0;
  margin-right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 0.5vw;
  -o-object-fit: cover;
     object-fit: cover;
}

main #everything .films .card a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}

main #everything .films .card a:hover {
  color: #e50914;
}

main #everything .films .card a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5vw;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main #everything .films .card a img:hover {
  margin-top: -3%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main #everything .films .card a h3 {
  margin-top: 5%;
  font-size: 0.85vw;
  line-height: 1vw;
  font-weight: 500;
}
/*# sourceMappingURL=everything.css.map */