{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/css/login-logout.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'movies/images/netflix.png' %}"
      type="image/x-icon"
    />
    <title>login</title>
  </head>
  <body>
    <main>
      {% if messages %}
      <!--  -->
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
      <!--  -->
      {% endif %}
    </main>
  </body> 
</html>
